[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
wheel = "*"
watchdog = "*"
pylint = "*"
flake8 = "*"
pdbpp = "*"
tox = "*"
coverage = "*"
Sphinx = "*"
twine = "*"
autopep8 = "*"

[packages]
Click = "*"
python-dotenv = "*"
thought = {editable = true, path = "."}
notion = "*"
pandas = "*"
recordlinkage = "*"
requests-oauthlib = "*"
pytoml = "*"
requests = "*"

[requires]
python_version = "3.9"
